/*
    MOBILE STYLES
*/
@media (max-width: 414px){
    body::-webkit-scrollbar {
        display: none;
    }
    
    .navigation{
        width: 100%;
        height: 10%;
        background-color: rgba(20,0,30,0.9);
        margin: 0 0 0 0;
    }
    
    .dropNav{
        display: none;
    }
    
    .logo{
        width: 45%;
        height: 100%;
        color: #DD7B5E;
        float: left;
        font-size: 6vh;
    }
    
    .portfolioBack{
        width: 100%;
        height: 200vh;
        background-color: rgba(0,0,0,.5);
        border-radius: 1%;
        margin: 0 auto;
        position: relative;
        z-index: 0;
    }
    
    .left-content{
        width: 100%;
        height: 50%;
        float: left;
        margin: 0 0 2vh 0;
    }

    .blackbox-header{
        font-family: 'Amatic SC', cursive;
        font-size: 4vh;
        margin: 0 0 0 0;
    }

    .blackbox{
        width: 90%;
        height: 30vh;
        background-color: rgba(0,0,0,.8);
        float: left;
        margin: 2vh 0 0 4vh;
        border: .1vh solid;
        border-color: #7B2F89;
        animation: blackbox-load .5s alternate;
        animation-iteration-count: 2;
    }
    
    .caption p{
        position: absolute;
        right: 0;
        bottom: 0;  
        margin: 0 1vh 0 0;
    }
    
    .sub-content{
        display: none;
    }
    
    .sub-content-mobile{
        width: 100%;
        height: 20%;
        float: left;
        display: block;
        margin: 2vh 0 0 4vh;
        background-color: rgba(0,0,0,0);
    }
    
    .sub-content-mobile p:nth-child(1){
        width: 100%;
        background-color: rgba(0,0,0,1);
        border-top-right-radius: 0;
    }
    
    .sub-content-box{
        width: 42%;
        height: 33.332%;
        margin-right: 2vh;
        float: left;
    }
    
    .preview{
        width: 45%;
        height: 100%;
        float: left;
        background-color: #D69A79;
    }
    
    .sub-caption{
        width: 55%;
        height: 100%;
        float: left;
        background-color: blue;
    }
    
    .right-content{
        width: 100%;
        height: 50%;
        float: left;
        margin: 0 0 0 0;
        background-color: rgba(0,0,0,.5);
        float: left;
    }
    
    .welcome{
        width: 100%;
        min-height: 5%;
        display: block;
        background-color: rgba(0,0,0,1);
        float: right;
        margin: 0 0 1vh 0;
        border-top-right-radius: 0%;
    }
    
    .welcome p:nth-child(3){
        display: none;
    }
    
    .more-link{
        width: 100%;
        float: left;
        display: block;
        margin: 0 0 2vh 0;
        text-align: center;
        overflow: visible;
        position: relative;
        z-index: 1;
    }

    .more-link-transform{
        display: none;
    }
    
    .more-link-mobile{
        display: inline;
    }
    
    .hobbies{
        width: 100%;
        min-height: 5%;
        background-color: rgba(0,0,0,1);
        position: relative;
        float: right;
        margin: 1vh 0 1vh 0;
        border-top-right-radius: 0%;
        -webkit-filter: none;
        filter: none;
    }
    
    .web-design{
        width: 100%;
        min-height: 5%;
        background-color: rgba(0,0,0,1);
        float: right;
        margin: 1vh 0 1vh 0;
        border-top-right-radius: 0%;
        -webkit-filter: none;
        filter: none;
    }
    
    .methodology{
        width: 100%;
        min-height: 5%;
        background-color: rgba(0,0,0,1);
        float: right;
        margin: 1vh 0 1vh 0;
        border-top-right-radius: 0%;
        -webkit-filter: none;
        filter: none;
    }
    
    .footer{
        width: 100%;
        height: 20%;
        margin: 0 0 0 0;
        float: right;
        background-color: rgba(20,0,30,0.9);
    }

    .footerLeft{
        width: 25%;
        height: 100%;
        float: left;
        line-height: 5vh;
    }
    
    .footerLogo{
        font-family: 'Amatic SC', cursive;
        font-size: 4vh;
        color: #7B2F89;
        
        /* CODE TO CENTER ANYTHING */
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .footerLeftCont{
        margin-bottom: -50%;
        padding: 0 0 0 0;
        font-family: 'Amatic SC', cursive;
        font-size: 3vh;
        color: #DD7B5E;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .footerRight{
        width: 75%;
        height: 100%;
        float: left;
    }

    .innerRight{
        width: 100%;
        height: 80%;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-left: 0.2vh solid;
        border-color: #7B2F89;
        background-color: rgba(0,0,0,.0);
    }
    
    .innerRightTop, .innerRightMid{
        font-family: 'Quicksand', cursive;
        font-size: 1.2vh;
        margin: 0 0 0 4%;
        position: relative;
        top: 30%;
        -ms-transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    
    .innerRightTop{
        color: #9F5A9E;
    }
    
    .innerRightMid{
        color: #7B2F89;
    }
    
    .socialLinks{
        display: block;
        position: relative;
        top: 40%;
        -ms-transform: translateY(-40%);
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        border-radius: 5%;
    }
    
    .linkedIn{
        width: 7vw;
        margin: 0 0 0 3%;
        border-radius: 8%;
    }
    
    .youTube{
        width: 7vw;
        margin: 0 0 0 .4%;
        border-radius: 8%;
    }
}