html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    background-color: rgba(39,0,56,1);
    background: url('../IMG/portfolioBackgroundBlur.jpg') no-repeat;
    background-size: 100% 100%;
}

/*
  _   _ _       _     _ _       _     _      ____      _            
 | | | (_) __ _| |__ | (_) __ _| |__ | |_   / ___|___ | | ___  _ __ 
 | |_| | |/ _` | '_ \| | |/ _` | '_ \| __| | |   / _ \| |/ _ \| '__|
 |  _  | | (_| | | | | | | (_| | | | | |_  | |__| (_) | | (_) | |   
 |_| |_|_|\__, |_| |_|_|_|\__, |_| |_|\__|  \____\___/|_|\___/|_|   
          |___/           |___/                                     
*/
::selection {
    background: #CC52AD;
    color: #FFFFFF;
}
::-moz-selection {
    background: #CC52AD; 
    color: #FFFFFF;
}

/*
  __  __       _       _                                    ____  _         _           
 |  \/  | __ _(_)_ __ | |_ ___ _ __   __ _ _ __   ___ ___  / ___|| |_ _   _| | ___  ___ 
 | |\/| |/ _` | | '_ \| __/ _ \ '_ \ / _` | '_ \ / __/ _ \ \___ \| __| | | | |/ _ \/ __|
 | |  | | (_| | | | | | ||  __/ | | | (_| | | | | (_|  __/  ___) | |_| |_| | |  __/\__ \
 |_|  |_|\__,_|_|_| |_|\__\___|_| |_|\__,_|_| |_|\___\___| |____/ \__|\__, |_|\___||___/
                                                                      |___/             
*/
.header{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 10vw;
    margin: 0 0 15% 0;
    color: #FFFFFF;
}

.maintenance-back{
    width: 50%;
    height: 50vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    animation: glow 1s alternate linear infinite;
}

@keyframes glow{
    to { box-shadow: 0 0 .5vh #DD7B5E, 0 0 2.5vh #DD7B5E;}
}

.maintenance-text{
    width: 100%;
    height: 20%;
    color: #DD7B5E;
    margin: 0 auto;
    position: relative;
}

/* SVG Self-Draw */
.maintenance-text text:nth-child(1){
    stroke: #D69ECD;
    stroke-width: 2.5;
    stroke-dasharray: 800; 
    stroke-dashoffset: 800; 
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: .5s;
}

.maintenance-text text:nth-child(2){
    stroke: #D69A79;
    stroke-width: 2.5;
    stroke-dasharray: 800; 
    stroke-dashoffset: 800;
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.maintenance-info{
    width: 40%;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    animation: fold-down 2s forwards;
    animation-delay: 1.5s;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.maintenance-info p:nth-child(1){
    font-family: 'Amatic SC', cursive;
    font-size: 4vh;
    color: #E691E5;
    margin: 0 2vw 1vh 2vw;
    text-shadow: 0 0 5px #E691E5, 0 0 5px #E691E5;
    text-align: center;
    border-bottom: .2vh solid #E691E5;
}

.maintenance-info ul:nth-child(2){
    width: 100%;
    font-family: 'Quicksand', cursive;
    font-size: 1.5vh;
    color: #FFFFFF;
}

@keyframes fold-down{
    to { -webkit-transform: rotateX(0deg); transform: rotateX(0deg);}
}

/*
  ____            _    __       _ _             ____            _   _               ____       _           _   
 |  _ \ ___  _ __| |_ / _| ___ | (_) ___    _  / ___|  ___  ___| |_(_) ___  _ __   / ___|  ___| | ___  ___| |_ 
 | |_) / _ \| '__| __| |_ / _ \| | |/ _ \  (_) \___ \ / _ \/ __| __| |/ _ \| '_ \  \___ \ / _ \ |/ _ \/ __| __|
 |  __/ (_) | |  | |_|  _| (_) | | | (_) |  _   ___) |  __/ (__| |_| | (_) | | | |  ___) |  __/ |  __/ (__| |_ 
 |_|   \___/|_|   \__|_|  \___/|_|_|\___/  (_) |____/ \___|\___|\__|_|\___/|_| |_| |____/ \___|_|\___|\___|\__|

*/
.section-background{
    width: 65%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    margin-bottom: 4vh;
}

.section-content{
    width: 90%;
    height: 65vh;
    background-color: rgba(0,0,0,0);
    margin: 0 0 0 4vh;
}

.section-content-box {
    width: 100%;
    height: 35%;
    margin: 0 0 2.5vh 0;
    background-color: none;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    transition: background-color .5s;
}

.section-content-box:hover{
    background-color: rgba(121,103,148,.2);
}

.section-preview{
    width: 20%;
    height: 100%;
    float: left;
    border: .2vh solid #7B2F89;
    animation: none;
}

.section-preview:hover{
    animation: preview-highlight .5s alternate infinite;
}

@keyframes preview-highlight{
    to { 
        border-color: #DD7B5E; 
        box-shadow: 0 0 .5vh #DD7B5E, 0 0 2.5vh #DD7B5E;
    }
}

#CSS3_Icon:hover{
    animation: CSS3-transform 3s infinite;
}

@keyframes CSS3-transform {
    0%{
        -wekbit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    16%{
        -wekbit-transform: translate(12%, 0);
        -moz-transform: translate(12%, 0);
        transform: translate(12%, 0);
    }
    32%{
        -wekbit-transform: translate(-12%, 0);
        -moz-transform: translate(-12%, 0);
        transform: translate(-12%, 0);
    }
    48%{
        -wekbit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    64%{
        -wekbit-transform: translate(0, 5%);
        -moz-transform: translate(0, 5%);
        transform: translate(0, 5%);
    }
    80%{
        -wekbit-transform: translate(0, -10%);
        -moz-transform: translate(0, -10%);
        transform: translate(0, -10%);
    }
    100%{
        -wekbit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}



.section-link{
    color: #DD7B5E !important;
    text-decoration: none !important;
    -wekbit-transition: text-shadow .5s;
    -moz-transition: text-shadow .5s;
    transition: text-shadow .5s;
}

.section-link:hover{
    text-shadow: 0 0 1.5px #DD7B5E, 0 0 1.5px #DD7B5E, 0 0 1.5px #DD7B5E;
}
/*
  ____            _    __       _ _             ____  _                                       ____       _           _   
 |  _ \ ___  _ __| |_ / _| ___ | (_) ___    _  / ___|| |__   _____      _____ __ _ ___  ___  / ___|  ___| | ___  ___| |_ 
 | |_) / _ \| '__| __| |_ / _ \| | |/ _ \  (_) \___ \| '_ \ / _ \ \ /\ / / __/ _` / __|/ _ \ \___ \ / _ \ |/ _ \/ __| __|
 |  __/ (_) | |  | |_|  _| (_) | | | (_) |  _   ___) | | | | (_) \ V  V / (_| (_| \__ \  __/  ___) |  __/ |  __/ (__| |_ 
 |_|   \___/|_|   \__|_|  \___/|_|_|\___/  (_) |____/|_| |_|\___/ \_/\_/ \___\__,_|___/\___| |____/ \___|_|\___|\___|\__|

*/

/*
  _  __    ___   ___              ____  _         _           
 / |/ /_  / _ \ / _ \ _ ____  __ / ___|| |_ _   _| | ___  ___ 
 | | '_ \| | | | | | | '_ \ \/ / \___ \| __| | | | |/ _ \/ __|
 | | (_) | |_| | |_| | |_) >  <   ___) | |_| |_| | |  __/\__ \
 |_|\___/ \___/ \___/| .__/_/\_\ |____/ \__|\__, |_|\___||___/
                     |_|                    |___/             

*/
@media (max-width: 1600px){
    .section-background{
        width: 80%;
    }
}

/*
  __  __       _     _ _        ____  _         _           
 |  \/  | ___ | |__ (_) | ___  / ___|| |_ _   _| | ___  ___ 
 | |\/| |/ _ \| '_ \| | |/ _ \ \___ \| __| | | | |/ _ \/ __|
 | |  | | (_) | |_) | | |  __/  ___) | |_| |_| | |  __/\__ \
 |_|  |_|\___/|_.__/|_|_|\___| |____/ \__|\__, |_|\___||___/
                                          |___/             
*/
@media (max-width: 800px){
    .maintenance-back{
        width: 80%;
    }   
    
    .maintenance-info{
        width: 60%;
    }
    
    .section-background{
        width: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,0);
        border-radius: 1%;
        margin: 0 auto;
        position: relative;
        z-index: 0;
    }
    
    .section-content{
        width: 90%;
        height: 65vh;
        position: relative;
        display: block;
        margin: 5vh auto 5vh 3vh;
        background-color: rgba(0,0,0,0);
    }
    
    .section-content-box{
        width: 100%;
        height: 25%;
        margin: 0 0 1vh 0;
        float: left;
    }
    
    .section-preview{
        width: 35%;
        height: 100%;
        float: left;
    }
    
    #CSS3_Icon:hover{
    animation: none;
}
}