html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    background-color: rgba(39,0,56,1);
    background: url('../IMG/portfolioBackgroundBlur.jpg') no-repeat;
    background-size: 100% 100%;
}

/*
  _   _ _       _     _ _       _     _      ____      _            
 | | | (_) __ _| |__ | (_) __ _| |__ | |_   / ___|___ | | ___  _ __ 
 | |_| | |/ _` | '_ \| | |/ _` | '_ \| __| | |   / _ \| |/ _ \| '__|
 |  _  | | (_| | | | | | | (_| | | | | |_  | |__| (_) | | (_) | |   
 |_| |_|_|\__, |_| |_|_|_|\__, |_| |_|\__|  \____\___/|_|\___/|_|   
          |___/           |___/                                     

*/
::selection {
    background: #CC52AD;
    color: #FFFFFF;
}
::-moz-selection {
    background: #CC52AD; 
    color: #FFFFFF;
}

/*
  ____            _    __       _ _          ____            _             _   
 |  _ \ ___  _ __| |_ / _| ___ | (_) ___    / ___|___  _ __ | |_ ___ _ __ | |_ 
 | |_) / _ \| '__| __| |_ / _ \| | |/ _ \  | |   / _ \| '_ \| __/ _ \ '_ \| __|
 |  __/ (_) | |  | |_|  _| (_) | | | (_) | | |__| (_) | | | | ||  __/ | | | |_ 
 |_|   \___/|_|   \__|_|  \___/|_|_|\___/   \____\___/|_| |_|\__\___|_| |_|\__|

*/
.header{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 10vw;
    margin: 0 0 15% 0;
    color: #FFFFFF;
}

.maintenance-back{
    width: 50%;
    height: 50vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    animation: glow 1s alternate linear infinite;
}

@keyframes glow{
    to { box-shadow: 0 0 .5vh #DD7B5E, 0 0 2.5vh #DD7B5E;}
}

.maintenance-text{
    width: 100%;
    height: 20%;
    color: #DD7B5E;
    margin: 0 auto;
    position: relative;
}

/* SVG Self-Draw */
.maintenance-text text:nth-child(1){
    stroke: #D69ECD;
    stroke-width: 2.5;
    stroke-dasharray: 800; 
    stroke-dashoffset: 800; 
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: .5s;
}

.maintenance-text text:nth-child(2){
    stroke: #D69A79;
    stroke-width: 2.5;
    stroke-dasharray: 800; 
    stroke-dashoffset: 800;
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.maintenance-info{
    width: 40%;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    animation: fold-down 2s forwards;
    animation-delay: 1.5s;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.maintenance-info p:nth-child(1){
    font-family: 'Amatic SC', cursive;
    font-size: 4vh;
    color: #E691E5;
    margin: 0 2vw 1vh 2vw;
    text-shadow: 0 0 5px #E691E5, 0 0 5px #E691E5;
    text-align: center;
    border-bottom: .2vh solid #E691E5;
}

.maintenance-info ul:nth-child(2){
    width: 100%;
    font-family: 'Quicksand', cursive;
    font-size: 1.5vh;
    color: #FFFFFF;
}

@keyframes fold-down{
    to { -webkit-transform: rotateX(0deg); transform: rotateX(0deg);}
}

/*
  __  __       _     _ _        ____  _         _           
 |  \/  | ___ | |__ (_) | ___  / ___|| |_ _   _| | ___  ___ 
 | |\/| |/ _ \| '_ \| | |/ _ \ \___ \| __| | | | |/ _ \/ __|
 | |  | | (_) | |_) | | |  __/  ___) | |_| |_| | |  __/\__ \
 |_|  |_|\___/|_.__/|_|_|\___| |____/ \__|\__, |_|\___||___/
                                          |___/             

*/
@media (max-width: 800px){
    .maintenance-back{
        width: 80%;
    }   
    
    .maintenance-info{
        width: 60%;
    }
}