html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    background-color: rgba(39,0,56,1);
    background: url('../IMG/portfolioBackgroundBlur.jpg') no-repeat;
    background-size: 100% 100%;
}

/*
    HIGHLIGHT COLOR
*/

::selection {
    background: #CC52AD;
    color: #FFFFFF;
}
::-moz-selection {
    background: #CC52AD; 
    color: #FFFFFF;
}

/*
    PORTFOLIO CONTENT
*/

.header{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 10vw;
    margin: 0 0 15% 0;
    color: #FFFFFF;
}

.maintenance-back{
    width: 50%;
    height: 50vh;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    animation: glow 1s alternate linear infinite;
}

@keyframes glow{
    to { box-shadow: 0 0 .5vh #DD7B5E, 0 0 2.5vh #DD7B5E;}
}

.maintenance-text{
    width: 100%;
    height: 20%;
    color: #DD7B5E;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* SVG Self-Draw */
.maintenance-text text:nth-child(1){
    stroke: #D69ECD;
    stroke-width: 2.5;
    stroke-dasharray: 800; 
    stroke-dashoffset: 800; 
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: .5s;
}

.maintenance-text text:nth-child(2){
    stroke: #D69A79;
    stroke-width: 2.5;
    stroke-dasharray: 800; 
    stroke-dashoffset: 800;
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/*
    MOBILE STYLES
*/
@media (max-width: 800px){
    .maintenance-back{
        width: 80%;
    }   
}