html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    background-color: rgba(39,0,56,1);
    background: url('../IMG/portfolioBackgroundBlur.jpg') no-repeat;
    background-size: 100% 100%;
}
/*
  _   _ _       _     _ _       _     _      ____      _            
 | | | (_) __ _| |__ | (_) __ _| |__ | |_   / ___|___ | | ___  _ __ 
 | |_| | |/ _` | '_ \| | |/ _` | '_ \| __| | |   / _ \| |/ _ \| '__|
 |  _  | | (_| | | | | | | (_| | | | | |_  | |__| (_) | | (_) | |   
 |_| |_|_|\__, |_| |_|_|_|\__, |_| |_|\__|  \____\___/|_|\___/|_|   
          |___/           |___/                                     

*/
::selection {
    background: #CC52AD;
    color: #FFFFFF;
}
::-moz-selection {
    background: #CC52AD; 
    color: #FFFFFF;
}

/*
  _   _                _               
 | | | | ___  __ _  __| | ___ _ __ ___ 
 | |_| |/ _ \/ _` |/ _` |/ _ \ '__/ __|
 |  _  |  __/ (_| | (_| |  __/ |  \__ \
 |_| |_|\___|\__,_|\__,_|\___|_|  |___/

*/
.header-mini{
    font-family: 'Amatic SC', cursive;
    font-size: 2vh;
}

.header-small{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5vh; 
}

.header-small-alternate{
    font-family: 'Cuprum', sans-serif;
    font-size: 22.5vh;
}

.header-medium{
    font-family: 'Amatic SC', cursive;
    font-size: 4vh;    
}

.header-medium-alternate{
    font-family: 'Cuprum', sans-serif;
    font-size: 4vh;
}

.header-large{
    font-family: 'Amatic SC', cursive;
    font-size: 6vh;
}

.header-large-alternate{
    font-family: 'Cuprum', sans-serif;
    font-size: 6vh;
}

/*
  _____         _     ____        _     _     
 |_   _|____  _| |_  | __ )  ___ | | __| |___ 
   | |/ _ \ \/ / __| |  _ \ / _ \| |/ _` / __|
   | |  __/>  <| |_  | |_) | (_) | | (_| \__ \
   |_|\___/_/\_\\__| |____/ \___/|_|\__,_|___/

*/
.bold-purple{
    color: #E691E5;
    text-shadow: 0 0 5px #E691E5, 0 0 5px #E691E5;
}

.bold-orange{
    color: #DD7B5E;
    text-shadow: 0 0 5px #DD7B5E, 0 0 5px #DD7B5E;
}

.bold-white{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFFFFF;
}

.boldFontSwap{
    color: #E691E5;
    text-shadow: 0 0 5px #E691E5, 0 0 5px #E691E5;
    font-family: 'Indie Flower', sans-serif;
    font-size: 2vh;
}

/*
   ____                                        _____         _   
  / ___|___  _ __ ___  _ __ ___   ___  _ __   |_   _|____  _| |_ 
 | |   / _ \| '_ ` _ \| '_ ` _ \ / _ \| '_ \    | |/ _ \ \/ / __|
 | |__| (_) | | | | | | | | | | | (_) | | | |   | |  __/>  <| |_ 
  \____\___/|_| |_| |_|_| |_| |_|\___/|_| |_|   |_|\___/_/\_\\__|

*/
.text-small{
    font-family: 'Pompiere', cursive;
    font-size: 1.7vh;
}

.text-medium{
    font-family: 'Pompiere', cursive;
    font-size: 2vh;
}

.text-link{
    color: #9F5A9E;
    font-family: 'Quicksand', cursive;
    font-size: 1.5vh;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

p{
    margin: 0 0 0 0;
}

/*
  _____         _      ____      _                
 |_   _|____  _| |_   / ___|___ | | ___  _ __ ___ 
   | |/ _ \ \/ / __| | |   / _ \| |/ _ \| '__/ __|
   | |  __/>  <| |_  | |__| (_) | | (_) | |  \__ \
   |_|\___/_/\_\\__|  \____\___/|_|\___/|_|  |___/

*/
.text-purple{
    color: #7B2F89;   
}

.text-purple_light{
    color: #D69ECD;
}

.text-orange{
    color: #DD7B5E;   
}

.text-white{
    color: #FFFFFF;    
}

.text-hot_pink{
    color: #E02079;
}

.text-dark_pink{
    color: #9F5A9E;
}

.text-neon_pink{
    color: #D69ECD;
    text-shadow: 0 0 1px #D69ECD;
}

/*
  ____                 _ _ _                  ____  _         _         __   ____ _                               __  
 / ___|  ___ _ __ ___ | | | |__   __ _ _ __  / ___|| |_ _   _| | ___   / /  / ___| |__  _ __ ___  _ __ ___   ___  \ \ 
 \___ \ / __| '__/ _ \| | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ | |  | |   | '_ \| '__/ _ \| '_ ` _ \ / _ \  | |
  ___) | (__| | | (_) | | | |_) | (_| | |     ___) | |_| |_| | |  __/ | |  | |___| | | | | | (_) | | | | | |  __/  | |
 |____/ \___|_|  \___/|_|_|_.__/ \__,_|_|    |____/ \__|\__, |_|\___| | |   \____|_| |_|_|  \___/|_| |_| |_|\___|  | |
                                                        |___/          \_\                                        /_/ 
*/
body::-webkit-scrollbar {
    width: 1.5vh;
}

body::-webkit-scrollbar-button{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #6E2A7A;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #301236;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #7B2F89;
}

/*
  _   _             _             _   _             
 | \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
 |  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                      |___/                         
*/
.navigation{
    width: 100%;
    height: 6%;
    background-color: rgba(20,0,30,0.9);
    margin: 0 0 5vh 0;
}

.logo{
    width: 20%;
    height: 100%;
    color: #DD7B5E;
    float: left;
}

/* SVG Self-Draw */
.logo text:nth-child(1){
    stroke: #D69ECD;
    fill: #D69ECD;
    stroke-width: 1;
    stroke-dasharray: 300; 
    stroke-dashoffset: 300; 
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
}

.logo text:nth-child(2){
    stroke: #D69A79;
    fill: #D69ECD;
    stroke-width: 1;
    stroke-dasharray: 320; 
    stroke-dashoffset: 320;
    fill-opacity: 0;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: .5s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

/* Nav Menu + Buttons */
.dropNav{
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
}

.home-menu,
.web-menu,
.other-menu{
    width: 5%;
    height: 100%;
    position: absolute;
    top: 15%;
    display: inline-block;
    float: left;
}

.home-menu{
    right: 20%;
    margin: 0 1vh 0 0;
}

.web-menu{
    right: 15%;
    margin: 0 .5vh 0 0;
}

.other-menu{
    right: 10%;
}

.navbtn{
    background-color: #29003D;
    color: #DD7B5E;
    width: 100%;
    height: 4vh;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5vh;
    cursor: pointer;
    float: left;
    position: relative;
    border: none;
    border-left: .2vh solid;
    border-left-color: #DD7B5E;
    border-top-right-radius: 10px;
    box-shadow: .2vw .5vh 2px black;
    outline: none;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    transition: background-color .5s;
}

.navbtn:hover{
    text-decoration: none;
}

.dropdown-content1,
.dropdown-content2,
.dropdown-content3{
    display: none;
    position: absolute;
    font-family: 'Cuprum', sans-serif;
    font-size: 2vh;
    top: 4vh;
    background-color: rgba(20,0,30,1);
    min-width: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a{
    color: #DD7B5E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover{
    background-color: #DD7B5E;
    border-left-color: #DD7B5E;
    text-decoration: none;
    color: #fff;
}

.home-menu:hover .navbtn,
.web-menu:hover .navbtn,
.other-menu:hover .navbtn{
    color: #fff;
    background-color: #DD7B5E;
}

.home-menu:hover .dropdown-content1,
.web-menu:hover .dropdown-content2,
.other-menu:hover .dropdown-content3{
    display: block;
}

/*
  ____            _    __       _ _             _   _                      
 |  _ \ ___  _ __| |_ / _| ___ | (_) ___    _  | | | | ___  _ __ ___   ___ 
 | |_) / _ \| '__| __| |_ / _ \| | |/ _ \  (_) | |_| |/ _ \| '_ ` _ \ / _ \
 |  __/ (_) | |  | |_|  _| (_) | | | (_) |  _  |  _  | (_) | | | | | |  __/
 |_|   \___/|_|   \__|_|  \___/|_|_|\___/  (_) |_| |_|\___/|_| |_| |_|\___|

*/
.content-background{
    width: 65%;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

/* Left Content */
.left-content{
    width: 70%;
    float: left;
    background-color: rgba(0,0,0,0);
}

.left-content button:nth-child(1){
    width: 100%;
    margin: 1vh 0 auto 1vh;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.blackbox{
    width: 100%;
    height: 55vh;
    background-color: rgba(0,0,0,.5);
    border: .1vh solid #7B2F89;
    animation: blackbox-onload .5s alternate;
    animation-iteration-count: 2;
}

.caption{
    width: 100%;
    height: 100%;
    position: relative;
}

.caption p{
    position: absolute;
    display: inline;
    margin: 0 1vh 0 0;
    right: 0;
    bottom: 1.5vh;
}

/* SVG Self Draw HTML|CSS */

#line-top, #line-bottom{
    stroke-dasharray: 1150; 
    stroke-dashoffset: 1150; 
    fill-opacity: 0;
    animation-name: blackbox-draw;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-delay: 1.5s;    
}

@keyframes blackbox-draw {
    to {
        stroke-dashoffset: 0;
    }
}

#HTMLine1, #HTMLine2, #HTMLine3, #CSSLine1, #CSSLine2, #CSSLine3{
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation-name: HTMLCSS-draw;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
}

@keyframes HTMLCSS-draw{
    to{
        stroke-dashoffset: 0;
    }
}

#HTMLFill1, #HTMLFill2, #HTMLFill3, #CSSFill1, #CSSFill2, #CSSFill3{
    fill-opacity: 0;
    animation-name: HTMLCSS-Fill;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 6s;
}

@keyframes HTMLCSS-Fill{
    to{
        fill-opacity: 1;
    }
}

#H-line, #T-line, #M-line, #L-line, #C-line, #S-line, #S2-line{
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation-name: HTMLCSS-textdraw;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 7s;
}

@keyframes HTMLCSS-textdraw{
    to{
        stroke-dashoffset: 0;
    }
}

#H-fill, #T-fill, #M-fill, #L-fill, #C-fill, #S-fill, #S2-fill{
    fill-opacity: 0;
    animation-name: HTMLCSS-textfill;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 8s;
}

@keyframes HTMLCSS-textfill{
    to{
        fill-opacity: 1;
    }
}

.blackbox:hover{/* Blackbox Hover Glow */
    animation: blackbox-highlight .5s infinite alternate;
}

@keyframes blackbox-onload{
    to {border-color: #7B2F89; box-shadow: 0 0 .5vh #7B2F89, 0 0 2.5vh #7B2F89;}
}

@keyframes blackbox-highlight{
    to {border-color: #DD7B5E; box-shadow: 0 0 .5vh #DD7B5E, 0 0 2.5vh #DD7B5E;}
}

.sub-content{
    width: 90%;
    height: 70vh;
    float: left;
    background-color: rgba(0,0,0,0);
    margin: 0 0 4vh 4vh;
    
}

.sub-header{
    width: 100%;
    height: 10%;
    position: relative;
}

.sub-header p{
    position: absolute;
}

.sub-header p:nth-child(1){
    bottom: 0;
}

.sub-header p:nth-child(2){
    right: 0;
    bottom: 0;
}

.sub-content-box {
    width: 100%;
    height: 20%;
    margin: 0 0 2.5vh 0;
    background-color: none;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    transition: background-color .5s;
}

.sub-content-box:hover{
    background-color: rgba(121,103,148,.2);
}

.preview{
    width: 20%;
    height: 100%;
    float: left;
    border: .2vh solid #7B2F89;
    animation: none;
}

.preview:hover{
    animation: preview-highlight .5s alternate infinite;
}

@keyframes preview-highlight{
    to { border-color: #DD7B5E; box-shadow: 0 0 .5vh #DD7B5E, 0 0 2.5vh #DD7B5E;}
}
    
.sub-caption{
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    -webkit-backface-visibility: hidden;/* Stops issue whereby font degrades on CSS3 transformations */
}

.sub-caption p{
    margin: 0 0 0 1vh;
}

.divider{
    width: 96.5%;
    margin: 0 auto;
    border: .2vh solid rgba(123, 47, 137, .4);
}

.sub-caption p:nth-child(4){
    position: absolute;
    bottom: 5%;
}

.sub-caption p:nth-child(4) a{
    color: #E02079;
    text-shadow: 0 0 1px #E02079;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    -webkit-transition: text-shadow .5s;
    -moz-transition: text-shadow .5s;
    transition: text-shadow .5s;
}

.sub-caption p:nth-child(4) a:hover{
    color: #E02079;
    text-shadow: 0 0 1px #E02079, 0 0 1px #E02079, 0 0 1px #E02079;
}


/* Right Content */
.right-content{
    width: 25%;
    height: auto;
    float: left;
    background-color: rgba(0,0,0,0);
    margin: 2vh 3vh auto;
}

.welcome{
    width: 100%;
    min-height: 15%;
    float: left;
    background-color: rgba(0,0,0,1);
    border-top-right-radius: 35px;
}

.welcome p:nth-child(1){
    margin: 2vh 3vh 1vh 3vh;
    text-align: center;
    border-bottom: .2vh solid rgba(123, 47, 137, .4);
}

.welcome p:nth-child(2), .hobbies p:nth-child(2), .web-design p:nth-child(2), .methodology p:nth-child(2){
    text-align: center;
    margin: 0 3vh 1vh 3vh;
}

.welcome p:nth-child(3){
    text-align: center;
    margin: 1.5vh 0 0 0;
}

.welcome p:nth-child(3) button{
    background-color: transparent;
    outline: none;
    border: none;
    color: #9f5a9e;
   /* HOVER OFF | Transition to no 'text-shadow' */
    text-shadow: 0 0;
    -webkit-transition: text-shadow .3s;
    -moz-transition: text-shadow .3s;
    transition: text-shadow .3s;
    animation: flashy .8s linear infinite alternate running;
}

@keyframes flashy{
    from { color: #9f5a9e; }
    to { color: #E09ADF; text-shadow: 0 0 5px #E09ADF, 0 0 5px #E09ADF; }
}

.more-link{/* Transformations for the 'More About Me' ARROWS */
    width: 100%;
    height: 3%;
    float: right;
    margin: 0 0 0 0;
    text-align: center;
}

.more-link-mobile{
    display: none;
}

.more-link-transform{
    -webkit-transition: -webkit-transform .2s ease;
    -moz-transition: -moz-transform .2s ease;
    -ms-transition: -ms-transform .2s ease;
    transition: transform .2s ease;
}

.more-link-active{
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.arr{
    margin: 1.5vh 0 0 0;
    display: inline-block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin: 0 1% 0 1%;
}

.arrTransitionLeft{
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
}

.arrTransitionRight{
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
}

.arrActiveLeft{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrActiveRight{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.hobbies{/* Blurred Elements */
    width: 100%;
    min-height: 15%;
    float: left;
    margin: 2vh 0 1vh 0;
    background-color: rgba(0,0,0,1);
    position: relative;
    border-top-right-radius: 35px;
    -webkit-filter: blur(1.5vh);
    filter: blur(1.5vh);
}

.hobbies p:nth-child(1){
    margin: 2vh 3vh 1vh 3vh;
    text-align: center;
    border-bottom: .2vh solid rgba(123, 47, 137, .4);
}

.web-design{
    width: 100%;
    min-height: 15%;
    float: left;
    margin: 0 0 1vh 0;
    background-color: rgba(0,0,0,1);
    border-top-right-radius: 35px;
    -webkit-filter: blur(1.5vh);
    filter: blur(1.5vh);
}

.web-design p:nth-child(1){
    margin: 2vh 3vh 1vh 3vh;
    text-align: center;
    border-bottom: .2vh solid rgba(123, 47, 137, .4);
}

.methodology{
    width: 100%;
    height: auto;
    float: left;
    margin: 0 0 1vh 0;
    background-color: rgba(0,0,0,1);
    border-top-right-radius: 35px;
    -webkit-filter: blur(1.5vh);
    filter: blur(1.5vh);
}

.methodology p:nth-child(1){
    margin: 2vh 3vh 1vh 3vh;
    text-align: center;
    border-bottom: .2vh solid rgba(123, 47, 137, .4);
}

.right-content-transition{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
}

.right-content-active{
    -webkit-filter: none;
    filter: none;
    -webkit-transform: translate(0, -20%);
    -moz-transform: translate(0, -20%);
}

/*
  _____           _            
 |  ___|__   ___ | |_ ___ _ __ 
 | |_ / _ \ / _ \| __/ _ \ '__|
 |  _| (_) | (_) | ||  __/ |   
 |_|  \___/ \___/ \__\___|_|   

*/
.footer{
    width: 100%;
    height: 20%;
    margin: 5vh 0 0 0;
    position: relative;
    background-color: rgba(20,0,30,0.9);
}

.footerLeft{
    width: 15%;
    height: 100%;
    float: left;
    line-height: 5vh;
}

.footerLogo{
    font-family: 'Amatic SC', cursive;
    font-size: 6vh;
    color: #7B2F89;

    /* CODE TO CENTER ANYTHING */
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footerLeftCont{
    margin-bottom: -50%;
    padding: 0 0 0 0;
    font-family: 'Amatic SC', cursive;
    font-size: 3vh;
    color: #DD7B5E;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footerRight{
    width: 85%;
    height: 100%;
    float: left;
}

.innerRight{
    width: 100%;
    height: 80%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 0.2vh solid;
    border-color: #7B2F89;
    background-color: rgba(0,0,0,.0);
}

.innerRightTop, .innerRightMid{
    font-family: 'Quicksand', cursive;
    font-size: 1.2vh;
    margin: 0 0 0 1%;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.innerRightTop{
    color: #9F5A9E;
}

.innerRightMid{
    color: #7B2F89;
}

.socialLinks{
    display: block;
    position: relative;
    top: 40%;
    -ms-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    border-radius: 5%;
}

.linkedIn{
    width: 2vw;
    margin: 0 0 0 1%;
    border-radius: 8%;
}

.youTube{
    width: 2vw;
    margin: 0 0 0 .2%;
    border-radius: 8%;
}

/*
  _  __    ___   ___              ____  _         _           
 / |/ /_  / _ \ / _ \ _ ____  __ / ___|| |_ _   _| | ___  ___ 
 | | '_ \| | | | | | | '_ \ \/ / \___ \| __| | | | |/ _ \/ __|
 | | (_) | |_| | |_| | |_) >  <   ___) | |_| |_| | |  __/\__ \
 |_|\___/ \___/ \___/| .__/_/\_\ |____/ \__|\__, |_|\___||___/
                     |_|                    |___/             

*/
@media (max-width: 1600px){
    .content-background{
        width: 80%;
    }
    
    .left-content{
        width: 70%;
        float: left;
        background-color: rgba(0,0,0,0);
    }
    
    .left-content button:nth-child(1){
        width: 100%;
        margin: 2vh 0 auto 1vh;
        text-decoration: none;
        background-color: transparent;
        border: none;
        outline: none;
    }
    
    .right-content{
        width: 27%;
        margin: 2vh auto auto 2vh;
    }
}

/*
  __  __       _     _ _        ____  _         _           
 |  \/  | ___ | |__ (_) | ___  / ___|| |_ _   _| | ___  ___ 
 | |\/| |/ _ \| '_ \| | |/ _ \ \___ \| __| | | | |/ _ \/ __|
 | |  | | (_) | |_) | | |  __/  ___) | |_| |_| | |  __/\__ \
 |_|  |_|\___/|_.__/|_|_|\___| |____/ \__|\__, |_|\___||___/
                                          |___/             

*/
@media (max-width: 800px){
    body::-webkit-scrollbar {
        display: none;
    }
    
    .navigation{
        width: 100%;
        height: 10%;
        background-color: rgba(20,0,30,0.9);
        margin: 0 0 0 0;
    }
    
    .dropNav{
        display: none;
    }
    
    .logo{
        width: 100%;
        height: 100%;
        color: #DD7B5E;
        margin: 0 auto;
        font-size: 6vh;
    }
    
    .content-background{
        width: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,.5);
        border-radius: 1%;
        margin: 0 auto;
        position: relative;
        z-index: 0;
    }
    
    .left-content{
        width: 100%;
        overflow: hidden;
        float: left;
        margin: 0 auto;
    }
    
    .latest-content{
        width: 100%;
        margin: 0 0 0 3vh;
    }
    
    .left-content button:nth-child(1){
        width: 100%;
        margin: 0 auto;
    }

    .blackbox-header{
        font-family: 'Amatic SC', cursive;
        font-size: 4vh;
        margin: 0 0 0 0;
    }

    .blackbox{
        width: 100%;
        height: 35vh;
        background-color: rgba(0,0,0,.5);
        float: left;
        margin: 0 auto;
    }
    
    .caption p{
        position: absolute;
        right: 0;
        bottom: 0;  
        margin: 0 1vh 0 0;
    }
    
    .sub-content{
        width: 90%;
        height: 15vh;
        position: relative;
        float: left;
        display: block;
        margin: 5vh auto 5vh 3vh;
        background-color: rgba(0,0,0,0);
    }
    
    .sub-header{
        width: 100%;
        position: relative;
    }
    
    .sub-content p:nth-child(1){
        width: 100%;
        
    }

    .sub-content-box{
        width: 50%;
        height: 8vh;
        margin: 0 0 1vh 0;
        float: left;
    }
    
    .preview{
        width: 35%;
        height: 100%;
        float: left;
    }
    
    .sub-caption{
        width: 65%;
        height: 100%;
        float: left;
    }
    
    .sub-caption p:nth-child(4){
        display: none;
    }
    
    .right-content{
        width: 100%;
        height: 60%;
        float: left;
        margin: 0 0 0 0;
        background-color: rgba(0,0,0,.5);
        float: left;
    }
    
    .welcome{
        width: 100%;
        height: 25%;
        display: block;
        background-color: rgba(0,0,0,1);
        float: right;
        margin: 0 0 1vh 0;
        border-top-right-radius: 0%;
    }
    
    .welcome p:nth-child(3){
        display: none;
    }
    
    .more-link{
        width: 100%;
        float: left;
        display: block;
        margin: 0 0 2vh 0;
        text-align: center;
        overflow: visible;
        position: relative;
        z-index: 1;
    }

    .more-link-transform{
        display: none;
    }
    
    .more-link-mobile{
        display: inline;
    }
    
    .hobbies{
        width: 100%;
        height: 25%;
        background-color: rgba(0,0,0,1);
        position: relative;
        float: right;
        margin: 1vh 0 1vh 0;
        border-top-right-radius: 0%;
        -webkit-filter: none;
        filter: none;
    }
    
    .web-design{
        width: 100%;
        height: 25%;
        background-color: rgba(0,0,0,1);
        float: right;
        margin: 1vh 0 1vh 0;
        border-top-right-radius: 0%;
        -webkit-filter: none;
        filter: none;
    }
    
    .methodology{
        width: 100%;
        height: 15%;
        background-color: rgba(0,0,0,1);
        float: right;
        margin: 1vh 0 1vh 0;
        border-top-right-radius: 0%;
        -webkit-filter: none;
        filter: none;
    }
    
    .footer{
        width: 100%;
        height: 20%;
        margin: 0 0 0 0;
        float: right;
        background-color: rgba(20,0,30,0.9);
    }

    .footerLeft{
        width: 25%;
        height: 100%;
        float: left;
        line-height: 5vh;
    }
    
    .footerLogo{
        font-family: 'Amatic SC', cursive;
        font-size: 4vh;
        color: #7B2F89;
        
        /* CODE TO CENTER ANYTHING */
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .footerLeftCont{
        margin-bottom: -50%;
        padding: 0 0 0 0;
        font-family: 'Amatic SC', cursive;
        font-size: 3vh;
        color: #DD7B5E;
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .footerRight{
        width: 75%;
        height: 100%;
        float: left;
    }

    .innerRight{
        width: 100%;
        height: 80%;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-left: 0.2vh solid;
        border-color: #7B2F89;
        background-color: rgba(0,0,0,.0);
    }
    
    .innerRightTop, .innerRightMid{
        font-family: 'Quicksand', cursive;
        font-size: 1.2vh;
        margin: 0 0 0 4%;
        position: relative;
        top: 30%;
        -ms-transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
    
    .innerRightTop{
        color: #9F5A9E;
    }
    
    .innerRightMid{
        color: #7B2F89;
    }
    
    .socialLinks{
        display: block;
        position: relative;
        top: 40%;
        -ms-transform: translateY(-40%);
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        border-radius: 5%;
    }
    
    .linkedIn{
        width: 7vw;
        margin: 0 0 0 3%;
        border-radius: 8%;
    }
    
    .youTube{
        width: 7vw;
        margin: 0 0 0 .4%;
        border-radius: 8%;
    }
}